/* Overwrite defaults */
body {
    font-family: 'Droid Serif', serif;
    font-size: .8em;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

header {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 4em;
    margin-bottom: .2em;
    text-align: center;
    display: block;
    margin: 0;
    text-decoration: none;
}

.loading__img {
    animation: spin linear 3.5s infinite;
    border-radius: 100%;
}

header a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    border-radius: .8em;
}

/* Id Objects */
#loading {
    text-align: center;
    font-size: 1.5em;
}

#form-input {
    border-radius: 1em;
    font-size: 0.9em;
    width: 60%;
    padding: 1em;
}

#form {
    text-align: center;
}

#form-submit {
    padding: 1.2em;
    border-radius: 1em;
    background-color: #FFF;
    width: 20%;
}

.landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Classes */
.loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.load-txt {
    font-size: 3em;
}

.subhead {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: .5em 0 .5em 0;
    margin: .02em 0 1.5em 0;
    text-align: center;
    font-style: italic;
}

.long {
    font-size: 1.3em;
    margin-top: 2.5em;
    max-width: 50%;
}

.name {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    padding: .5em 0 .5em 0;
    margin: .02em 0 1.5em 0;
    text-align: center;
}

.markov {
    max-width: 20em;
}

.content {
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;
}
.column + .column {
    /* border-left: 1px solid #2f2f2f; */
}

.land-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    max-width: 84%;
    margin-top: 1em;
    align-self: center;
    font-size: 1.3em;
}

.credits {
    border-top: 1px solid #2f2f2f;
    margin-top: .5em;
    padding: 1em;
    text-align: center;
}

.social {
    list-style: none;
    display: inline;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.media {
    filter: sepia(80%) contrast(1) opacity(0.8);
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
}

.subhead {
    filter: sepia(80%) contrast(1) opacity(0.8);
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
}

/* Animations */
@keyframes spin {
    0% {transform:rotate(0deg) scale(1,1);}
    50% {transform:rotate(180deg) scale(1,1);}
    100% {transform:rotate(360deg) scale(1,1);}
}

/* MEDIAQUERIES */
@media only all and (max-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

}
@media only all and (max-width: 900px) {
    .long {
        max-width: 70%;
    }

}
@media only all and (max-width: 600px) {
    .column + .column {
        border-left: none;
    }
    .long {
        max-width: 100%;
        margin-top: 1em;
    }
    header {
        overflow: hidden;
    }
}

.additional {
    padding-left: 4em;
    padding-right: 4em;
    font-size: 1.2em;
}

.additional h3 {
    text-align: center;
}
