@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Open+Sans:400i');

html {
    background-color: #1DA1F2;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
body {
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: 'Cinzel Decorative', cursive;
}

.form-input {
    border-radius: 1em;
    height: 4em;
    width: 60%;
}
.form-submit {
    padding: 1.7em;
    border-radius: 1em;
    background-color: #FFF;
}
