<head>
    <meta charset="utf-8">
    <title>Twitkov</title>

    <!-- Meta stuff -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="description" content="Markov Tweet Generator created by the elusive Twitter Club" />
    <meta author="Brian Short & Matt Lewis" />
    <meta property="og:url" content="http://twitkov.club/" />

    <!-- Styyyle -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google Analytics Tag... Track stuff-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110856410-10"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-110856410-10');
    </script>
</head>
