<head>
    <meta charset="utf-8">

    <!-- General -->
    <title>Twitkov</title>
    <meta author="Brian Short & Matt Lewis" />
    <meta name="description" content="Markov Chain Generator for tweets." />
    <meta name='url' content="https://twitkov.club" />
    <meta name="robots" content="index, follow" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph -->
    <meta property="og:title" content="Twitkov" />
    <meta property="og:description" content="Markov Tweet Generator" />
    <meta property="og:url" content="https://twitkov.club" />
    <meta property="og:image" content="https://cdn.twitkov.club/markov-portrait-2.jpeg" />

    <!-- Styyyle -->
    <meta name="theme-color" content="#2f2f2f">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="bookmark" title="Twitkov" href="https://twitkov.club" />

    <!-- GA Tag -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110856410-10" />
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-110856410-10');
    </script>
</head>
