{% extends "layout.html" %}
{% block body %}
<div class="landing hide-on-load">
    <div class="column">
        <img class="media markov" src="/static/markov-portrait-small.jpg" />
        <p><i>Andrey Markov (14 June 1856 N.S. – 20 July 1922)</i></p>
    </div>
    <div class="column land-desc">
        {% include 'search.html' %}
        <div class="description">
            <p>
                A <b>Markov chain</b> is "a stochastic model describing a sequence of possible events in which the probability
                of each event depends only on the state attained in the previous event.<sup><a href="https://en.oxforddictionaries.com/definition/us/markov_chain"><i>[Oxford]</i></a></sup>
                Twitkov gathers all of a user's tweets, and uses a Markov chain to generate new ones.
            </p>
        </div>
    </div>
</div>
{% endblock %}
